<ion-content [fullscreen]="true">

  <div id="container">

    <ion-grid>
      <ion-row>
        <ion-col size="9">{{valor}}</ion-col>
        <ion-col>
          <ion-button>C</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
          (click)="mostraValor()" 
          color="light" 
          expand="block">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">9</ion-button>
        </ion-col>      
        <ion-col>
          <ion-button expand="block">+</ion-button>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">6</ion-button>
        </ion-col>      
        <ion-col>
          <ion-button expand="block">-</ion-button>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button 
          color="light" 
          expand="block">6</ion-button>
        </ion-col>      
        <ion-col>
          <ion-button expand="block">-</ion-button>
        </ion-col>  
      </ion-row>
    </ion-grid>
  </div>
</ion-content>